.na
{
    margin-left: 15px;
}
.em
{
    margin-left: 15px;
}
.ag
{
    margin-left: 26px;
}
#sd
{
    margin-left: 20px;
}
.std
{
    margin-bottom: 25px;
}
.camp
{
    margin-top: -10px;
    margin-bottom: 30px;
}
#se
{
    margin-left: 15px;
}
.gap
{
    margin: 25px;
}
.bu
{
    padding: 5px;
}
.ret
{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-right: 9px;
}
.but1
{
    margin: 20px;
}